* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-50{
    margin-top: 50px;
}

h1 {
    color: rgb(226, 43, 198);
    text-align: center;
}

h3 {
    color: white;
    margin-left: 10px;
}

.header {
    text-align: center;
}

.container-cards {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-icons {
    width: 350px;
    height: 100px;
    background-color: black;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    text-align: left;
}

.team-info {
    color: white;
    margin-left: 10px;
}